<h2>Editing Contact</h2>

<form action="/contacts/<%= @contact.id %>" method="post" >
  <input type="hidden" name="_method" value="put">

  <label for="irst_name">
    <span>First Name</span>
    <input id="first_name" type="text" name="contact[first_name]" value="<%= @contact.first_name %>" placeholder="First Name">
  </label>

  <label for="last_name">
    <span>Last Name</span>
    <input id="last_name" type="text" name="contact[last_name]" value="<%= @contact.last_name %>" placeholder="Last Name">
  </label>

  <label for="email">
    <span>Email</span>
    <input id="email" type="email" name="contact[email]" value="<%= @contact.email %>" placeholder="Email">
  </label>

  <textarea name="contact[note]" placeholder="Note"><%= @contact.note %></textarea>

  <label for="user-active">
    <span>User Active?</span>
    <input type="checkbox" name="" id="user-active" checked="true">
  </label>

  <button type="submit" name="button">SAVE</button>

  <a href="/contacts" class="cancel-button">Cancel</a>
</form>
