<h1>Contacts</h1>

<div class="total_contacts">
  <p>There are <strong><%= Contact.all.length %></strong> contacts</p>
</div>

<ul class="contact-list">
  <% @contacts.each do |contact| %>
    <li class="contact">
      <a href="/contacts/<%= contact.id %>" class="contact-info">
        <%= contact.first_name %> <%= contact.last_name %>
        <%= contact.email %>
      </a>

      <div class="actions">
        <form class="" action="/contacts/<%= contact.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <a href="/contacts/<%= contact.id %>/edit" class="edit-link">Edit</a>
          <button class="delete-button" type="submit" name="button">Delete</button>
        </form>
      </div>
    </li>

  <% end %>
</ul>
